<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	colors="true"
	backupGlobals="false"
	backupStaticAttributes="false">

	<testsuite name="Datasift PHP Client Test Suite">
		<directory>./</directory>
	</testsuite>

    <filter>
		<whitelist>
			<directory suffix=".php">../lib</directory>
		</whitelist>
    </filter>
</phpunit>
